*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    &.dark-mode {
        background: #212529;
        color: #ddd;
    }
}

// common styles

.btn-primary {
    color: #fff!important;
    background-color: #EB1537!important;
    border-color: #EB1537!important;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.08);
}


.btn i + .text {
    margin-left: 10px;
}

//  header section

.section-header {
    .language {
        .nav-link {
            padding-left: 7px;
            padding-right: 7px;
            color: rgba(0,0,0,0.5);
            &.current {
                color: #eb1537;
            }
            &:focus {
                color: #000;
            }
        }
        .divide {
            padding: .3rem 0;
            color: #e4e4e4;
        }
    }

    .navbar-right {
        .nav-info {
            float: left;
        }
        .dark-mode-button {
            position: relative;
            float: left;
            margin-top: 4px;
            background: #eee;
            height: 24px;
            width: 50px;
            border-radius: 12px;
            cursor: pointer;
            transition: background 0.3s cubic-bezier(.58,.15,.64,1.27);
            overflow: hidden;
            &.dark {
                background: #111;

                .shape {
                    left: -7px;
                    background: #111;
                }
                .sun {
                    left: 30px;
                }
            }
            .section-header .navbar-top .dark-mode-button .shape {
                position: absolute;
                top: 4px;
                left: -45px;
                height: 16px;
                width: 46px;
                background: #eee;
                border-radius: 10px;
                z-index: 1;
                transition: 0.3s cubic-bezier(.58,.15,.64,1.27);
            }
            .sun {
                position: absolute;
                top: 4px;
                left: 4px;
                width: 16px;
                height: 16px;
                border-radius: 10px;
                background: #FD8400;
                transition: left 0.3s cubic-bezier(.58,.15,.64,1.27);
            }
            .shape {
                position: absolute;
                top: 4px;
                left: -45px;
                height: 16px;
                width: 46px;
                background: #eee;
                border-radius: 10px;
                z-index: 1;
                transition: 0.3s cubic-bezier(.58,.15,.64,1.27);
            }
        }
    }

    .header-main {
        position: relative;
        padding-top: 1.3rem;
        padding-bottom: 1.3rem;
        background-color: #fff;
    }
    .category-wrap .btn {
        white-space: nowrap;

        .icon-close {
            display: none;
        }
    }
    .col-search {
        -webkit-box-flex: 1;
        -ms-flex-positive: 1;
        flex-grow: 1;
    }
    .col-brand {
        -webkit-box-flex: 0;
        -ms-flex-positive: 0;
        flex-grow: 0;
    }
    .col-menu {
        -webkit-box-flex: 0;
        -ms-flex-positive: 0;
        flex-grow: 0;
    }
    .widgets-wrap .btn {
        position: relative;
    }
}

.navbar-light .nav-link {
    color: rgba(0,0,0,0.5);
    display: block;
    padding: .3rem 1rem;
}

.row-sm > [class^=col] {
    padding-left: 7px;
    padding-right: 7px;
}

.notify {
    position: absolute;
    top: -4px;
    right: -7px;
    display: inline-block;
    padding: .25em .6em;
    font-size: 12px;
    line-height: 1;
    text-align: center;
    border-radius: 3rem;
    color: #fff;
    background-color: #eb1537;
}

.navbar-main .navbar-nav {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;

    .nav-link {
        font-weight: 500;
        padding-right: .7rem!important;
        padding-left: .7rem!important;
    }
    .nav-item:hover {
        background-color: #f0f0f0;
        border-radius: .35rem;
    }
}

// Section Banner