*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    &.dark-mode {
        background: #212529;
        color: #ddd;
        
        .header-main {
            background-color: #212529;
        }
        .border-bottom {
            border-bottom-color: #111 !important;
        }
    }
}

body.dark-mode .modal, body.dark-mode .navbar-light .nav-link, body.dark-mode .btn, body.dark-mode a, body.dark-mode .slider-main .item-slide .btn-outline-dark:hover, body.dark-mode [class*='card-product'] a.title, body.dark-mode .banner-promo:not(.bg-gradient-blue) a, body.dark-mode .price, body.dark-mode .dropdown-item, body.dark-mode .aside-megamenu .nav-link:not(.active), body.dark-mode .table, body.dark-mode .icontext .text, body.dark-mode .dropdown-menu {
    color: #ddd!important;
}

body.dark-mode .slider-main .item-slide, body.dark-mode .card-banner .btn-outline-light:hover {
    color: #111!important;
}

body.dark-mode .slider-main .item-slide .btn-outline-dark {
    color: #212529!important;
}

body.dark-mode .card-banner .btn-outline-light, body.dark-mode .nav-pills .nav-link.active, body.dark-mode .navbar-light .nav-link:hover, body.dark-mode .section-title {
    color: #fff;
}

body.dark-mode .box-category {
    background: #111;
    border-color: #111;
}

body.dark-mode .box-category .title, body.dark-mode .card .title, body.dark-mode .tracking-wrap .step.active.current .text {
    color: #eee;
}

body.dark-mode .box.bg-light {
    background: #111!important;
    border-color: #111!important;
}

body.dark-mode .section-header .language .current, body.dark-mode .section-header .language .current:hover, body.dark-mode [class*='card-product'] a.title:hover, body.dark-mode .breadcrumb-item a:hover {
    color: #EB1537!important;
}


body.dark-mode .section-header .widgets-wrap .btn:hover, body.dark-mode .bg, body.dark-mode .nav-pills .nav-link.active, body.dark-mode .navbar-nav .nav-item:hover, body.dark-mode .banner-promo:not(.bg-gradient-blue), body.dark-mode .dropdown-menu, body.dark-mode .switch-toggle-radio, body.dark-mode .block-subscribe.bg-light, body.dark-mode .list-menu li.active a, body.dark-mode .accordion>.card .card-header, body.dark-mode .breadcrumb, body.dark-mode .nav-profile a.active, body.dark-mode .nav-profile a:hover, body.dark-mode .nav-orders, body.dark-mode .single-new-content .center-info-box, body.dark-mode .single-new-content .specs-table td:first-child, body.dark-mode .bg-light, body.dark-mode .card.bg {
    background: #111!important;
}

// common styles

.btn-primary {
    color: #fff!important;
    background-color: #EB1537!important;
    border-color: #EB1537!important;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.08);
}


.btn i + .text {
    margin-left: 10px;
}

.padding-top-sm {
    padding-top: 16px;
}

.padding-bottom {
    padding-bottom: 45px;
}

.text-red {
    color: #eb1537;
}

.padding-y {
    padding-top: 45px;
    padding-bottom: 45px;
}

p:last-child {
    margin-bottom: 0;
}

a {
    color: #212529;
    text-decoration: none!important;
}

.text-lg {
    font-size: 125%;
}

.row-sm {
    margin-right: -7px;
    margin-left: -7px;
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

//  header section

.section-header {
    .language {
        .nav-link {
            padding-left: 7px;
            padding-right: 7px;
            color: rgba(0,0,0,0.5);
            &.current {
                color: #eb1537;
            }
            &:focus {
                color: #000;
            }
        }
        .divide {
            padding: .3rem 0;
            color: #e4e4e4;
        }
    }

    .navbar-right {
        .nav-info {
            float: left;
        }
        .dark-mode-button {
            position: relative;
            float: left;
            margin-top: 4px;
            background: #eee;
            height: 24px;
            width: 50px;
            border-radius: 12px;
            cursor: pointer;
            transition: background 0.3s cubic-bezier(.58,.15,.64,1.27);
            overflow: hidden;
            &.dark {
                background: #111;

                .shape {
                    left: -7px;
                    background: #111;
                }
                .sun {
                    left: 30px;
                }
            }
            .section-header .navbar-top .dark-mode-button .shape {
                position: absolute;
                top: 4px;
                left: -45px;
                height: 16px;
                width: 46px;
                background: #eee;
                border-radius: 10px;
                z-index: 1;
                transition: 0.3s cubic-bezier(.58,.15,.64,1.27);
            }
            .sun {
                position: absolute;
                top: 4px;
                left: 4px;
                width: 16px;
                height: 16px;
                border-radius: 10px;
                background: #FD8400;
                transition: left 0.3s cubic-bezier(.58,.15,.64,1.27);
            }
            .shape {
                position: absolute;
                top: 4px;
                left: -45px;
                height: 16px;
                width: 46px;
                background: #eee;
                border-radius: 10px;
                z-index: 1;
                transition: 0.3s cubic-bezier(.58,.15,.64,1.27);
            }
        }
    }

    .header-main {
        position: relative;
        padding-top: 1.3rem;
        padding-bottom: 1.3rem;
        background-color: #fff;
    }
    .category-wrap .btn {
        white-space: nowrap;

        .icon-close {
            display: none;
        }
    }
    .col-search {
        -webkit-box-flex: 1;
        -ms-flex-positive: 1;
        flex-grow: 1;
    }
    .col-brand {
        -webkit-box-flex: 0;
        -ms-flex-positive: 0;
        flex-grow: 0;
    }
    .col-menu {
        -webkit-box-flex: 0;
        -ms-flex-positive: 0;
        flex-grow: 0;
    }
    .widgets-wrap .btn {
        position: relative;
    }
}

.navbar-light .nav-link {
    color: rgba(0,0,0,0.5);
    display: block;
    padding: .3rem 1rem;
}

.row-sm > [class^=col] {
    padding-left: 7px;
    padding-right: 7px;
}

.notify {
    position: absolute;
    top: -4px;
    right: -7px;
    display: inline-block;
    padding: .25em .6em;
    font-size: 12px;
    line-height: 1;
    text-align: center;
    border-radius: 3rem;
    color: #fff;
    background-color: #eb1537;
}

.navbar-main .navbar-nav {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;

    .nav-link {
        font-weight: 500;
        padding-right: .7rem!important;
        padding-left: .7rem!important;
    }
    .nav-item:hover {
        background-color: #f0f0f0;
        border-radius: .35rem;
    }
}

// Section Banner

.form-group:after, article:after {
    display: block;
    clear: both;
    content: "";
}

.slider-main {
    .item-slide {
        background-color: #eb1537;
        border-radius: .5rem;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        height: 380px;
        overflow: hidden;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        padding: 60px;
        .aside {
            margin-right: 40px;
        }
        img {
            border-radius: 5px;
            mix-blend-mode: multiply;
            max-width: 420px;
        }
    }
    .owl-nav .owl-next {
        right: 20px!important;
    }
    .owl-nav .owl-prev {
        left: 20px!important;
    }
    .owl-nav .owl-next,.owl-nav .owl-prev {
        background-color: rgba(51,51,51,0.1)!important;
    }

}

.card-banner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    position: relative;
    overflow: hidden;
    background-color: #fff;
    background-size: cover;
    background-position: center center;
    border-radius: .5rem;

    .card-body {
        background-size: cover;
        position: relative;
        z-index: 10;
    }
}

.bg-gradient-pink {
    background: #2a306c;
    background: -webkit-gradient(linear,left top,right bottom,from(#7853b5),to(#2a306c));
    background: linear-gradient(to bottom right,#7853b5,#2a306c);
    -webkit-transition: .5s;
    transition: .5s;
}

// Owl carasuel nav 

.owl-carousel .owl-nav .owl-prev {
    left: -25px;
}

.owl-carousel .owl-nav .owl-next {
    right: -25px;
}

.owl-carousel .owl-nav .owl-next, .owl-carousel .owl-nav .owl-prev {
    display: inline-block!important;
    background-color: #ededed!important;
    color: #333!important;
    width: 36px;
    height: 36px;
    line-height: 36px!important;
    text-align: center;
    position: absolute;
    border-radius: 40px!important;
    z-index: 9;
}

.owl-carousel .owl-nav button:hover {
    color: #fff!important;
    background-color: #eb1537!important;
}

.owl-prev, .owl-next {
    position: absolute;
    top: 48%;
    transform: translateY(-48%);
}

// product slider

.section-heading {
    margin-bottom: 30px;
    margin-top: 10px;

    a {
        text-decoration: none;
    }
}

.section-title {
    color: #212529;
}

.item-slide .card-product-grid {
    margin-left: 2px;
    margin-top: 3px;
    margin-bottom: 5px!important;
}

.card-product-grid {
    margin-bottom: 20px;
    border-radius: .35rem;
    &:hover {
        -webkit-box-shadow: 0 2px 7px rgba(102, 102, 102, 0.3);
        box-shadow: 0 2px 7px rgba(102, 102, 102, 0.3);
        -webkit-transition: .3s;
        transition: .3s;
        z-index: 10;
        position: relative;
    }

    .img-wrap {
        border-radius: .2rem .2rem 0 0;
        height: 200px;
    }
    .info-wrap {
        overflow: hidden;
        padding: 15px;
    }
    .name-category {
        display: block;
        white-space: nowrap;
        overflow: hidden!important;
        text-overflow: ellipsis;
        max-width: 98%;
        font-size: 13px;
        color: #9FAAB7;
        text-decoration: none;
    }
    .name-category:hover {
        color: #eb1537!important;
    }
    .title {
        overflow: hidden;
        height: 75px;
        text-decoration: none;
    }
    .price-wrap {
        
        .monthly {
            color: #9FAAB7;
        }
    }

}

[class*=card-product] {
    display: block;

    .img-wrap {
        overflow: hidden;
        position: relative;
    }
    .img-wrap img {
        height: 100%;
        max-width: 100%;
        width: auto;
        display: inline-block;
        -o-object-fit: cover;
        object-fit: cover;
    }
    a.title {
        color: #212529;
        display: block;
    }
    a.title:hover {
        color: #eb1537;
    }
}

.img-wrap {
    text-align: center;
    display: block;
}

// Category slider

.box-category {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex!important;
    margin: 3px;
    padding: 15px 15px 15px 10px;
    border-radius: .5rem;
    background-color: #fff;
    border: 1px solid #e4e4e4;
    &:hover {
        border-color: #eb1537;
        -webkit-box-shadow: 0 0 10px rgba(235, 21, 55, .2);
        box-shadow: 0 0 10px rgba(235, 21, 55, .2);
    }

    .icon {
        width: 60px!important;
        height: 50px;
        -o-object-fit: contain;
        object-fit: contain;
    }
    .text {
        max-width: 70%;
    }
    .title {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
}

.icontext {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    vertical-align: middle;
    text-decoration: none;

    .icon {
        position: relative;
        margin-right: 10px;
        -ms-flex-negative: 0;
        flex-shrink: 0;
        -webkit-box-flex: 0;
        -ms-flex-positive: 0;
        flex-grow: 0;
    }
    .text {
        width: 100%;
        color: #212529;
    }
    .title {
        display: block;
        margin-bottom: 3px;
    }
}

// Section Footer

.section-footer {

    .menu-footer {
        margin-top: 20px;

        li {
            margin-bottom: 10px;
            line-height: 1.3;
        }
        a {
            color: inherit;
            text-decoration: none!important;
        }
        a:hover {
            color: #eb1537;
        }
    }
}

.box {
    padding: 16px;
    background: #ebebea;
    border-radius: .35rem;
    border: 1px solid #e4e4e4;
}

[class*=list-] li:after {
    visibility: hidden;
    display: block;
    content: "";
    overflow: hidden;
    height: 0;
    clear: both;
}


// Why section

.list-why li {
    margin-bottom: 10px;
    padding: 10px;
    border-radius: .5rem;
}

.list-why li:hover {
    background-color: rgba(34,34,34,.2);
}

.list-why .icon {
    margin-right: 10px;
    width: 30px;
    text-align: center;
}

// News section  

.box-news {
    display: block;
    position: relative;
    width: 100%;
    border-radius: 16px;
    overflow: hidden;
    z-index: 1;
    padding: 24px;
    color: #fff;
}

.box-news:hover {
    color: #fff;
}

.box-news img.back {
    position: absolute;
    top: 0;
    left: 30%;
    width: 70%!important;
    height: 100%;
    z-index: -2;
    object-fit: cover;
    object-position: center;
}

.owl-item:nth-child(3n+0) .box-news .gradient, .item-slide:nth-child(3n+0) .box-news .gradient, .col-12:nth-child(3n+0) .box-news .gradient {
    background: linear-gradient(
270.19deg
,rgba(255,255,255,0) 30%,#6D3687 50%);
}

.owl-item:nth-child(3n-1) .box-news .gradient, .item-slide:nth-child(3n-1) .box-news .gradient, .col-12:nth-child(3n-1) .box-news .gradient {
    background: linear-gradient(
270.19deg
,rgba(255,255,255,0) 30%,#EB1537 50%);
}

.box-news:hover .gradient {
    left: 0;
}

.box-news .gradient {
    position: absolute;
    top: 0;
    left: -25%;
    width: 125%;
    height: 100%;
    z-index: -1;
    background: linear-gradient(
270.19deg
,rgba(255,255,255,0) 30%,#0EA4D3 50%);
    transition: .3s;
}

.box-news:hover .top-text, .box-news:hover .bottom-text {
    opacity: 1;
}

.box-news .top-text, .box-news .bottom-text {
    opacity: .7;
    transition: .3s;
}

.box-news .title {
    display: flex;
    align-items: center;
    height: 80px;
    font-size: 21px;
    max-width: 260px;
}

// history view

.scroll-horizontal {
    white-space: nowrap;
    overflow-x: auto;
}

.item-watched {
    width: 112px;
    height: 112px;
    display: inline-block;
    margin-right: 15px;
    text-align: center;
    border: 1px solid #e4e4e4;
    padding: 5px;
    margin-bottom: 10px;
}

.item-watched:hover {
    border-color: #eb1537;
    -webkit-box-shadow: 0 0 10px rgba(235, 21, 55, 0.2);
    box-shadow: 0 0 10px rgba(235, 21, 55, 0.2);
}

.item-watched img {
    max-width: 100%;
    max-height: 100%;
    -o-object-fit: contain;
    object-fit: contain;
}

.home-info a {
    color: #212529;
    text-decoration: none;
    background-color: transparent;
    &:hover {
        text-decoration: none;
        color: #000
    }
}



@import 'responsive';